.card {
    padding:20px;
    width:60vh;
    border:0px !important;
}
.card {
    opacity:0.7;
    background-color: black;
}
.card:hover {
    opacity:1.0;
}

.cardimg {
    height: 300px;
    width: 250px;
}